:root {
	--bg-primary: #344055;
	--bg-secondary: #CFB3CD;
	--text-color: #CFB3CD;
}
body {
	margin: 0;
	padding: 0;
}

main {
	margin-left: 5rem;
	padding: 1rem;
}

.navbar{
	width: 5rem;
	height: 100vh;
	position: fixed;
	background-color: var(--bg-primary);
	transition: 200ms ease;
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.nav-item{
	width: 100%;
}

.nav-item:last-child {
	margin-top: auto;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	text-decoration: none;
	transition: var(--transition-speed);
	color: var(--text-color);
}
.nav-link:hover .colored {
	filter: grayscale(0%) opacity(1);
	fill: #B878E2;

}

.link-text {
	display: none;
	margin-left: 1rem;
}

.nav-link svg{
	min-width: 2rem;
	width: 3rem;
	margin: 0 1rem;
}


.inner{
	opacity: 1;
	fill: #B878E2;
}
.colored {
	opacity: 1;
	fill: #DFC2F2;
}

.navbar:hover {
	width: 16rem;
}

.navbar:hover .link-text {
	display: block;
}
