:root {
	--bg-primary: #2F394C;
	--bg-secondary: #27303F;
	--img-primary: #B878E2;
	--img-secondary: #A656DC;
	--text-primary: #C188E7;
	--text-secondary: #CFB3CD;
	--transition-speed: 600ms;
	--text-transition-speed: 800ms;
}
body {
	margin: 0;
	padding: 0;
}

main {
	margin-left: 5rem;
	padding: 1rem;
}

/* Small screens */
@media only screen and (max-width: 600px){

}

/* Large screens */
@media only screen and (min-width: 600px){

	.navbar{
		top: 0;
		width: 5rem;
		height: 100vh;
	}
	.navbar:hover {
		width: 16rem;
	}
	.navbar:hover .link-text {
		display: inline;
		transition: opacity var(--transition-speed);
	}
}

.navbar{
	position: fixed;
	background-color: var(--bg-primary);
	transition: width 200ms ease;
	overflow: hidden;
}

.navbar-nav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.nav-item{
	width: 100%;
}

.nav-item:last-child {
	margin-top: auto;
}

.nav-link {
	display: flex;
	align-items: center;
	height: 5rem;
	text-decoration: none;
	transition: var(--transition-speed);
	color: var(--text-primary);
	filter: grayscale(100%) opacity(0.7);
	transition: var(--transition-speed);
}

.nav-link:hover{
	filter: grayscale(0%) opacity(1);
	background: var(--bg-secondary);
	color: var(--text-secondary);
}

.link-text {
	display: none;
	margin-left: 0.5rem;
}

.nav-link svg{
	min-width: 3rem;
	width: 3rem;
	margin: 0 1rem;
}


.inner{
	fill: var(--img-secondary);
}
.colored {
	fill: var(--img-primary);
}

.inner,
.colored{
	transition: var(--transition-speed);
}


.navbar:hover .link-text {
	font-weight: bold;
	letter-spacing: 0.1ch;
}

.logo {
	font-weight: bold;
	white-space:nowrap;
	margin-bottom: 1rem;
	text-align: center;
	color: var(--text-secondary);
	background: var(--bg-secondary);
	font-size: 1.5rem;
	width: 100%;
}

.logo
.logo svg {
	transform: rotate(0deg);
	transition: var(--transition-speed);
}

.navbar:hover .logo svg {
	transform: rotate(360deg);
}
